<main class="index-rechner-container" role="main">
    <h1>Meine Finanzhelfer</h1>

    <ul class="rechner__wrapper">
        <a routerLink="/sparrechner">
            <li class="rechner__container">
                <h4 class="rechner__title">Sparplan</h4>
                <p class="rechner__beschreibung">Du möchtest auf etwas hinsparen und dafür monatlich oder jährlich Geld zur Seite legen oder investieren? 
                Dann bist du bei diesem Sparplanrechner genau richtig!
                </p>
            </li>
        </a>
        <a routerLink="/einmalige_anlage">
            <li class="rechner__container">
                <h4 class="rechner__title">Einmalige Anlage</h4>
                <p class="rechner__beschreibung">Wieder etwas im Internet oder in der Stadt gesehen, dass du unbedingt haben möchtest, aber eigentlich gar nicht brauchst? 
                Was wäre, wenn du das Geld einfach investieren würdest, anstelle dir damit einen Kaffee oder neue Klamotten zu kaufen? Schau es dir hier an. Schau es dir im Graphen an.
                </p>
            </li>
        </a>
        <a routerLink="/budgetplaner">
            <li class="rechner__container">
                <h4 class="rechner__title">Monatliches Budget</h4>
                <p class="rechner__beschreibung">Plane hier dein Budget für den kommenden Monat. Am Ende siehst du, ob du im Plus oder Minus wärst.</p>
            </li>
        </a>
    </ul>
</main>