header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: relative;
}

.hamburger-menu {
    cursor: pointer;
    font-size: 2em;
}

.hamburger-menu:hover,
.hamburger-menu:focus {
    color: blue;
}

.navbar {
    height: 200px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    right: 0;
    transition: 500ms ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
}

.nav__link {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    width: 200px;
}

.nav__link:hover,
.nav__link:focus {
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

@media (min-width: 765px) {
    header {
        position: unset;
    }
    .hamburger-menu {
        display: none;
    }

    .navbar {
        width: auto;
        position: unset;
        transition: unset;
        overflow: unset;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        justify-content: flex-end;
        align-items: center;
        color: black;
    }

    .nav__link {
        text-align: center;
        text-transform: uppercase;
        padding: 1em 1.5em;
        color: black;
    }

    .nav__link:hover,
    .nav__link:focus {
        color: blue;
        border: none;
    }
}