h1 {
    text-align: center;
}

.rechner__container {
    width: 300px;
    margin: 30px auto;
}

.zinsen__form { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px; 
}

.calc__button {
    grid-column-start: 2;
}

.ergebnis {
    margin: 30px auto;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}